In [1]:
import re
import os
import csv
import time
import datetime
import requests
import pandas as pd
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException

In [65]:
df2 = pd.read_csv('tank.csv')
df1 = df2.loc[160]
df1['주소4']

'780-2'

In [66]:
df1['사건번호']

'2020타경891'

In [67]:
df = pd.read_csv('DB.csv')
#if df1['주소0'] ==  df['주소0']:
#    print("같음")
    
df_filtered = df[(df1['주소0'] ==  df['주소0']) & (df1['주소1'] ==  df['주소1']) & (df1['주소2'] ==  df['주소2'])]
df_filtered

     주소0  주소1  주소2
30  전라북도  전주시  덕진구

In [68]:
df1

Unnamed: 0                      161
사건번호                      2020타경891
물번                                1
법원                        전주지방법원 본원
매각기일                     2020.11.16
전용면적                          59.54
대지권                            18.7
감정가                       115000000
최저가                        80500000
최고층                              13
현재층                               5
사용승인(연차)                         15
주소0                            전라북도
주소1                             전주시
주소2                             덕진구
주소3                           인후동1가
주소4                           780-2
주소5                             NaN
주소6                             NaN
주소7                             NaN
아파트                          하누리홈타운
네이버검색                           NaN
동                                5층
호                              505호
도로명           전라북도 전주시 덕진구 팽나무4길 21
Name: 160, dtype: object